.ad-top-hidden {
  height: 0;
  transition-property: height;
  transition-duration: 300ms;
  transition-timing-function: ease;
}

.ad-top-container {
  height: 250px;
  width: 970px;
  background-color: green;
}
