

* {
  font-family: "Montserrat", sans-serif;
}



img {
  border-radius: 0;
}

.custom-container-fluid {
  --bs-gutter-x: 0;
  background-color: rgb(240, 240, 240);
}

a {
  text-decoration: none;
}
