* {
  font-family: "Montserrat", sans-serif;
}

.app.red {
  background-color: rgb(255, 255, 255) !important;
  color: rgb(0, 0, 0) !important;

  .card {
    background-color: rgb(255, 255, 255) !important;
    color: rgb(0, 0, 0);
  }

  a {
    text-decoration: none;
  }

  .position-Nav .navbar {
    background-color: #bbbbbc !important;
    color: rgb(255, 255, 255) !important;
  }

  .roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
  }

  .position-Nav .navbar ul li a {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 17px !important;
    color: rgb(255, 255, 255) !important;
  }
  .position-Nav .navbar .dropdown-menu {
    color: rgb(0, 0, 0) !important;
    background-color: rgb(255, 255, 255) !important;
  }

  .position-Nav .navbar .dropdown-menu a {
    color: rgb(0, 0, 0) !important;
    background-color: rgb(255, 255, 255) !important;
  }

  .position-Nav .nav-item .nav-link:hover {
    background-color: #ffffff !important;
    color: rgb(0, 0, 0) !important;
  }

  .position-Nav .dropdown:hover .dropdown-toggle {
    background-color: #ffffff !important;
    color: rgb(0, 0, 0) !important;
  }

  .position-Nav .nav-item .active-nav {
    background-color: #ffffff;
    color: rgb(0, 0, 0) !important;
  }
  .position-Nav .dropdown-menu a:hover {
    background-color: rgb(254, 199, 1) !important;
    color: rgb(255, 255, 255) !important;
  }
  .card-heading:hover {
    color: #01e3b0;
  }
  .footer {
    background-color: #01e3b0;
    color: white;
  }
}

.dark {
  background-color: #121212 !important;
  color: rgb(255, 255, 255) !important;

  .card {
    background-color: #121212 !important;
    color: rgb(255, 255, 255);
  }

  a {
    text-decoration: none;
  }

  .position-Nav .navbar {
    background-color: #121212 !important;
    color:#121212 !important;
  }

  .roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
  }

  .position-Nav .navbar ul li a {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 17px !important;
    color: rgb(255, 255, 255) !important;
  }
  .position-Nav .navbar .dropdown-menu {
    color: rgb(255, 255, 255) !important;
    background-color: #121212 !important;
  }

  .position-Nav .navbar .dropdown-menu a {
    color: rgb(255, 255, 255) !important;
    background-color:#121212 !important;
  }

  .position-Nav .nav-item .nav-link:hover {
    background-color: #ffffff !important;
    color: #121212 !important;
  }

  .position-Nav .dropdown:hover .dropdown-toggle {
    background-color: #ffffff !important;
    color: #121212 !important;
  }

  .position-Nav .nav-item .active-nav {
    background-color: #ffffff;
    color: #121212 !important;
  }
  .position-Nav .dropdown-menu a:hover {
    background-color: #ff7275 !important;
    color: rgb(255, 255, 255) !important;
  }
  .card-heading:hover {
    color: #ff7275;
  }
  .footer {
    background-color: #121212;
    color: rgb(255, 255, 255);
  }
}

img {
  border-radius: 0;
}

.custom-container-fluid {
  --bs-gutter-x: 0;
  background-color: rgb(240, 240, 240);
}

a {
  text-decoration: none;
}
